body {
  background-color:#222;
}

.website {
  height:270px;
  left:50%;
  position:absolute;
  top:50%;
  transform:translate(-50%,-50%);
  width:480px;
  iframe {
    height: 200%;
    left:0;
    position:absolute;
    top:0;
    transform: scale(0.5);
    transform-origin: top left;
    width: 200%;
  }
}