body {
  margin: 5% auto;
  padding: 0 3rem;
  background: #f2f2f2;
  color: #444444;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  text-shadow: 0 1px 0 #ffffff;
  max-width: 800px;
}
code {
  background: white;
}
a {
  border-bottom: 1px solid #444444;
  color: #444444;
  text-decoration: none;
}
a:hover {
  border-bottom: 0;
}
/**/
h1 {
  font-size: 2.2em;
}
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
}
#output {
  border: 1px solid #777;
  padding: 0.5rem;
}
#output-markup {
  width: 100%;
  padding: 0.5rem;
  background: #eee;
  border: 1px solid #777;
  overflow-x: scroll;
}
#render-button-container {
  text-align: center;
}
#render-button {
  padding: 0.5rem;
  font-size: 1.2em;
  border-radius: 0.5rem 0.5rem;
}
.load-post-form {
  text-align: right;
}
header small {
  color: #999;
  font-size: 50%;
}
img {
  max-width: 100%;
}
