/* NEWER - White 
.hero-angle-image-wrapper 
img.hero-cladding-image + 
img.hero-cladding-image
{ background-color: rgba(255, 255, 255,.4); }


.hero-angle-image-wrapper
img.hero-cladding-image + 
img.hero-cladding-image + 
img.hero-cladding-image 
{ background-color: rgba(255, 255, 255,.1); }
*/

img[src$="jpg"] +
img.hero-cladding-image[src$="png"]
{ background-color: rgba(0, 255, 20, 0.28); }

img[src$="png"] +
img.hero-cladding-image[src$="png"]
{ background-color: rgba(255, 255, 255,.20); }











/* FIRST 
.hero-angle-image-wrapper 
img.hero-cladding-image + 
img.hero-cladding-image
{ background-color: rgba(255,0,0,.8); }

.hero-angle-image-wrapper
img.hero-cladding-image + 
img.hero-cladding-image + 
img.hero-cladding-image 
{ background-color: rgba(0,255,0,.2); }

.hero-angle-image-wrapper
img.hero-cladding-image + 
img.hero-cladding-image + 
img.hero-cladding-image + 
img.hero-cladding-image 
{  background-color: rgba(0,0,255,.1);  }
*/



/* NEW

.hero-angle-image-wrapper 
img.hero-cladding-image + 
img.hero-cladding-image
{ background-color: rgba(0, 255, 255,.5); }

.hero-angle-image-wrapper
img.hero-cladding-image + 
img.hero-cladding-image + 
img.hero-cladding-image 
{ background-color: rgba(0, 255, 255,.2); }

.hero-angle-image-wrapper
img.hero-cladding-image + 
img.hero-cladding-image + 
img.hero-cladding-image + 
img.hero-cladding-image 
{  background-color: rgba(0, 255, 255,.2);  }



*/