html:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

body {
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow:hidden;
  transform-origin: 50% 70%;
  transform: perspective(200px) rotateX(30deg);
}

#target {
  color: #c90; 
  position: absolute;
  top: -2000px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  font-size: 60px;
  text-align: justify;
  font-family: 'Franklin Gothic', sans-serif;
}

#target > div {
  padding-top: 2300px;
  animation: autoscroll 40s linear infinite;
}

h2, h3 {
  text-align:center;
}

.small {
  color:#333;
  font-size:.5em;
  text-align:center;
}

.small a, .small a:visited {
  color:#336;
}

@keyframes autoscroll {
  to {
    margin-top: -2300px;
  }
}