$nRings: 32;

@mixin random-border-color() {
	color: rgb(random(255), random(255), random(255));
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.scene {
	width: 100vmin;
	height: 100vmin;
	margin:2% auto;
	perspective: 175vmin;
	-webkit-box-reflect: below -25vmin linear-gradient(to bottom, #0000 25%, #000);
}

.wrapper {
	width: 100%;
	aspect-ratio: 1;
	transform-style: preserve-3d;
}

.sphere {
	position: relative;
	width: 87.5%;
	height: 87.5%;
	margin:0 auto;
	transform-style: preserve-3d;
	animation: rotate 7.5s infinite linear;

	.ring {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		aspect-ratio: 1;
		border-radius: 50%;
		border: 6px dashed;
		
		@for $i from 1 through $nRings {
			&:nth-child(#{$i}) {
				@include random-border-color();
				transform: rotateY(((360deg / 2) / $nRings) * $i);
			}
		}
	}
}

@keyframes rotate {
  to {
	  transform: rotateY(360deg);
  }
}
